/* Put in your css here */
p {
    color:blue;
}
h1{color:red;
    font-family:verdana;
    font-size:50px;}
    
body{
    background:black;
    font-family:verdana;}

li{
    display:inline;
    padding:10px 10px 10px 10px;}
    
ul{
    background
}
   
    